body { 
    background-image: linear-gradient( 90deg, #073B3A, #0B6E4F,#08A045, #6BBF59);
    margin: 0%;
}

.container{
display: flex;
flex-direction: column;
border-style:solid;
background-color:#DDB771;
height: 80vh;
width: 500px ;
border: 2px solid black;
border-radius: 5%;
margin:auto;
justify-content: center;
align-items: center;
}

.box {
display: flex;
height: 725px;
justify-content:center;
align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 500px;
    justify-content: center;
    align-items: center;
}