body {
    background-image: url(https://i.ytimg.com/vi/HYQIZPHggyg/maxresdefault.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    image-rendering: crisp-edges;
    margin: 0%;
    overflow-y: hidden;
}
.container{
display: flex;
flex-direction: column;
border-style:solid;
background-color: #4a384f;
opacity: 0.7;
height: 80vh;
width: 500px ;
border: 2px solid black;
border-radius: 5%;
margin:auto;
justify-content: center;
align-items: center;
box-shadow:30px 30px 20px black; 
}
.box {
display: flex;
height: 700gpx;
justify-content:center;
align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 500px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
